{% extends "index.html" %}

{% block content %}
<style>
input[type="checkbox"]{
  width: 15px; /*Desired width*/
  height: 15px; /*Desired height*/
  
}
</style>



<h1 class="title is-1">{{cwd}}</h1>

<a href="http://127.0.0.1:5000/temp/up?data={{cwd}}" >../</a>

<form action="http://127.0.0.1:5000/temp" method="POST">

<label class="checkbox"><input type="checkbox" name="checkbox2" value="Test1">Test1</label>
<br>
<label class="checkbox"><input type="checkbox" name="checkbox2" value="Test2">Test2</label>
<br>
<label class="checkbox"><input type="checkbox" name="checkbox2" value="Test3">Test3</label>
<br>


{% for i in data %}
{% if i[0]=='F' %}
<label class="checkbox"><input type="checkbox" name="checkbox2" value={{i[-1]}}>{{i[-1]}}</label>
<br>

{% elif i[0]=='D' %}
<a href="http://127.0.0.1:5000/temp/{{i[-1]}}?data={{cwd}}">{{i[-1]}}</a>
<br>
{% endif %}




{% endfor %}
<input type="submit" class="button" value="submit">

</form>
{% endblock content %}

