{% extends 'index.html' %} 

<body  onload="update_values();">
{% block content %}



        <h1 class="title is-1"> Execute Commands here </h1>
     
        <form action="http://127.0.0.1:5000/{{name}}/execute" method="POST">

            <p class="title">Enter command : </p>

            <input class="input" type="text" name="command">
            <br> <br>
            <input class="button is-primary" type="submit">

        </form>

        <br>
        <h1 class="title is-3">AD Enumeration</h1>
<div class = "dropdown is-hoverable">
    <div class = "dropdown-trigger">
       <button class = "button is-danger is-outlined">
          <span>Choose AD Enumeration method</span>
          <span class = "icon is-small">
             <i class = "fa fa-angle-down" aria-hidden="true"></i>
          </span>
       </button>
    </div>
    <div class = "dropdown-menu" id = "dropdown-menu" role = "menu">
       <div class = "dropdown-content">
          <a href = "http://127.0.0.1:5000/{{name}}/execute?d=Get-SharpHoundZip" class = "dropdown-item">Get-SharpHoundZip</a>
          <a href = "http://127.0.0.1:5000/{{name}}/execute?d=Get-ASREPRoastable"  class = "dropdown-item">Get-ASREPRoastable</a>
          <a href = "http://127.0.0.1:5000/{{name}}/execute?d=Get-Kerberoastable" class = "dropdown-item ">Get-Kerberoastable</a>
          <a href = "http://127.0.0.1:5000/{{name}}/execute?d=Get-GroupRecursive" class = "dropdown-item">Get-GroupRecursive</a>
          <a href="http://127.0.0.1:5000/{{name}}/execute?d=Get-DCSyncUsers" class="dropdown-item">Get-DCSyncUsers</a>
          
          
       </div>
    </div>
 </div>

 <br><br>

 <h3 class="title is-3">Privesc Enumeration</h3>
 <div class="dropdown is-hoverable">
  
   <div class="dropdown-trigger">
       <button class="button is-danger is-outlined" aria-haspopup="true" aria-controls="dropdown-menu4">
           <span>Hover to choose a method</span>
           <span class="icon is-small">
               <i class="fas fa-angle-down" aria-hidden="true"></i>
           </span>
       </button>
   </div>
   <div class="dropdown-menu" id="dropdown-menu" role="menu">
      <div class = "dropdown-content">
         <a href = "http://127.0.0.1:5000/{{name}}/execute?d=powerup" class = "dropdown-item">Run PowerUp</a>
         <a href = "http://127.0.0.1:5000/{{name}}/execute?d=unquotedservices" class = "dropdown-item">Unquoted Services</a>
         <a href = "http://127.0.0.1:5000/{{name}}/execute?d=Get-InstalledSoftware" class = "dropdown-item">Get-Installed Software</a>
      </div>
   </div>
</div>


</div><br><br>



<script type="text/javascript" >
   var intervalID = setInterval(update_values,2000);
   
 //  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
   function update_values() {
            //if(name.length>0){
           $.getJSON( 'http://127.0.0.1:5000/{{name}}/stuff',
               
       function(data) {
           $('#result').text(data.result);
           
       });
      //}
       };
       
       function stopTextColor() {
          alert(document.getElementById("result").innerText);
       //   clearInterval(intervalID);
       }
       
       function copy(){
         navigator.clipboard.writeText(document.getElementById("result").innerText);
       }

</script>



<p>
  

   <button class="button is-danger" onclick="copy();">Copy </button>  <br> <br>  

<pre><p id="result">?</p></pre>


<script>
document.getElementById("result").innerHTML;
</script>
<button onclick="stopTextColor();">Stop</button>



<style>
   pre{
      background-color: black;
      color:white;
   }
</style>

      <!--{% if cmdoutput %}
      <pre>{{ cmdoutput }}</pre> 
      {% endif %}-->

{% endblock %}


</body>