
<!DOCTYPE html>
<html>
  <head>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>

     
        
        <nav class="navbar is-dark  has-shadow is-size-2 ">
            <div class="navbar-menu ">

                 
                {% if session['name'] %}
                <div class="navbar-start" id="nav-links">
                  <a href="{{ url_for('home') }}" class="navbar-item">Home</a>
                  <a href="{{ url_for('agents') }}" class="navbar-item">Agents</a>
                  
              </div> 

                <div class="navbar-end" id="nav-links">
                  <a href="{{ url_for('logout') }}" class=" navbar-item">Logout</a>
                  
                </div>
               {% else %}
               <div class="navbar-start" id="nav-links">
                <a href="{{ url_for('home') }}" class="navbar-item">Home</a>
                <!--<a href="{{ url_for('agents') }}" class="navbar-item">Agents</a>
                -->
            </div> 
                <div class="navbar-end" id="nav-links">
                  <a href="{{ url_for('login') }}" class=" navbar-item">Login</a>
                  <a href="{{ url_for('register') }}" class=" navbar-item">Register</a>
                </div>
                {% endif %}

            </div>
          </nav>
          

          {% block content %}
           
          <br>
        <h1 class="title is-2 has-text-centered">Welcome to C2 Server</h1>

        {% endblock %}

      </body>

      </html>   