{% extends "index.html" %}

{% block content %}



<br>
<h1 class="title is-3">AD Enumeration</h1>
<div class = "dropdown">
    <div class = "dropdown-trigger">
       <button class = "button" aria-haspopup = "true" aria-controls = "dropdown-menu">
          <span>Choose an Enumeration technique</span>
          <span class = "icon is-small">
             <i class = "fa fa-angle-down" aria-hidden="true"></i>
          </span>
       </button>
    </div>
    <div class = "dropdown-menu" id = "dropdown-menu" role = "menu">
       <div class = "dropdown-content">
          <a href = "#" class = "dropdown-item">Get-SharpHoundZip</a>
          <a class = "dropdown-item">Get-ASREPRoastable</a>
          <a href = "https://google.com" class = "dropdown-item ">Get-Kerberoastable</a>
          <a href = "#" class = "dropdown-item">Srilanka</a>
          <hr class = "dropdown-divider">
          <a href = "#" class = "dropdown-item">South Africa</a>
       </div>
    </div>
 </div>
 <script>
    //DOMContentLoaded - it fires when initial HTML document has been completely loaded
    document.addEventListener('DOMContentLoaded', function () {
       // querySelector - it returns the element within the document that matches the specified selector
       var dropdown = document.querySelector('.dropdown');
         
       //addEventListener - attaches an event handler to the specified element.
       dropdown.addEventListener('click', function(event) {
         
          //event.stopPropagation() - it stops the bubbling of an event to parent elements, by preventing parent event handlers from being executed
          event.stopPropagation();
           
          //classList.toggle - it toggles between adding and removing a class name from an element
          dropdown.classList.toggle('is-active');
       });
    });        
 </script>
</div>


{% endblock content %}
